@use './_variables' as vars;

.card-base {
  width: 100%;
  height: auto;
  margin: 1rem;
  border-radius: vars.$border-radius;
  box-shadow: vars.$box-shadow;
}

.card-content-base {
  display: flex;
  flex-direction: column;
  padding: vars.$padding;
}

.card-actions-base {
  display: flex;
  justify-content: flex-end;
  padding: vars.$padding;
}

.card-link-base {
  color: inherit;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.card-jobs-base,
.card-expertises-base {
  margin-top: vars.$margin-top;
}

.chip-base {
  margin: vars.$chip-margin;
}
